. filter=lfs diff=lfs merge=lfs -text
Task1/Type2/ filter=lfs diff=lfs merge=lfs -text
Task1/Type2/ filter=lfs diff=lfs merge=lfs -text
Task1/Type3/ filter=lfs diff=lfs merge=lfs -text
Task1/Type3/ filter=lfs diff=lfs merge=lfs -text
Task1/Type3/ filter=lfs diff=lfs merge=lfs -text
Task1/Type4/ filter=lfs diff=lfs merge=lfs -text
Task1/Type4/ filter=lfs diff=lfs merge=lfs -text
Task2/ filter=lfs diff=lfs merge=lfs -text
Task2/ filter=lfs diff=lfs merge=lfs -text
Task2/ filter=lfs diff=lfs merge=lfs -text
Task2/ filter=lfs diff=lfs merge=lfs -text
Task3/ filter=lfs diff=lfs merge=lfs -text
Task4/ filter=lfs diff=lfs merge=lfs -text
Task4/ filter=lfs diff=lfs merge=lfs -text
Task5/ filter=lfs diff=lfs merge=lfs -text
